#content {
  #header {
    height: 30vh;
    width: 100%;
    position: relative;
    background: url("../sources/image/Jeju_transparent.jpg") center bottom / cover no-repeat;
    transition: all 0.3s ease;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
  }

  #header.small {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    background-position: left top;
    background-color: white;
    justify-content: left;
    color: #ffffff; /* 글자 색상 설정 */
    font-size: 18px;
  }

  #main {
    height: 120vh; /* 뷰포트 높이에 맞춤 */
  }
}