.schedule {

  .header {
    font-family: 'Gugi', cursive;
    background-color: white;

    h1 {
      span:nth-child(odd) {
        cursor: pointer;
      }
    }
  }

  .content {
    background-color: white;

    .notice {
      padding: 30px;
    }

    .col {
      margin-top: 30px;

      .step {
        font-family: 'Gugi', cursive;
        padding: 20px;
      }
    }

    .view {
      border: none;
      width: 100%;
      height: 600px;
    }
  }
}