.schedule {

  .header {
    font-family: 'Gugi', cursive;
    background-color: white;

    h1 {
      span:nth-child(odd) {
        cursor: pointer;
      }
    }
  }

  .content {
    background-color: white;

    .col {
      //border: 1px solid rebeccapurple;
      margin-top: 30px;

      .step {
        padding: 20px;
      }
    }

    .view {
      border: none;
      width: 100%;
      height: 600px;
    }
  }
}